.TodoSearch {
  background-color: rgba(64, 95, 104, 0.486);
  border-radius: 10px;
  text-align: center;
  border: 1px solid rgb(92, 126, 136);
  height: 50px;
  width: calc(100% - 60%);
  font-size: 22px;
  box-shadow: 0px 5px 55px 2px rgb(128, 158, 167);
}

.TodoSearch::placeholder {
  color: black;
}

.TodoSearch:focus {
  outline-color: rgba(27, 194, 236, 0.623);
}

@media (max-width: 530px) {
  .TodoSearch {
    width: 60%;
  }
}